@model Office_Seat_Book_Entity.SecretKey;
@{
    ViewData["Title"] = "EnterKey";
}

<h1>EnterKey</h1>
<form method="post" enctype="multipart/form-data">
    <input type="text" asp-for="SpecialKey" class="form-control" placeholder="Enter Secret Key" />
    <button type="submit"></button>
</form>
@if (ViewBag.status == "Ok")
{
    <div class="alert alert-success">
        @ViewBag.message
    </div>
}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}