
@{
    ViewData["Title"] = "GenerateQR";
}

<h1>GenerateQR</h1>

<img src="C:/Users/Kiran.MH/Desktop/Cloning Folder/OfficeSeatBooking_3.1/Office_Seat_Book/Office_Seat_Book_MVC/QRCode.bmp" />
<img src="data:image/bmp;base64,C:/Users/Kiran.MH/Desktop/Cloning Folder/OfficeSeatBooking_3.1/Office_Seat_Book/Office_Seat_Book_MVC/QRCode.bmp" width="100" height="100" />


<img />