@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="User" asp-action="EnterKey" type="button">GenerateSecretKey</a>
<br />
<a asp-controller="User" asp-action="GenerateQR" type="button">Generate QR</a>

