.card-body{
    background: aliceblue;
    box-shadow: 2px 2px 2px 2px grey;
}

.form-control{
    border: 2px solid black;
    box-sizing: 0 0 0 2px blue;
}

h5{
    text-align: center;
}

.mb-2{
    text-align: center;
    font-style: italic;
}