body{
  background-image: url("https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved6.jpg");
}


.container{
  border: 2px solid rgb(36, 32, 32);
  background-color:antiquewhite;
  box-shadow: 0px 3px 2px 2px grey;
  margin-top: 20px;
  
}

.img{
  margin-top: 50px;
}

.card{
  box-shadow: 0 2px 2px 2px cadetblue;
}


.ctitles{
  color: green;
  font-weight: bolder;
}

.ctitle{
  color:blue
}

.cnumber{
  color:blue
}

.cid{
  color:blue
}

.crole{
  color:blue
}


.cs{
  color:red
}

.ctitles{
  animation: bounce 1s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.ctitle{
  animation: bounce 1s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.cnumber{
  animation: bounce 1s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.cid{
  animation: bounce 1s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.crole{
  animation: bounce 1s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.cs{
  animation: bounce 1s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.card {
  opacity: 0;
  transform: translateY(50%);
  transition: all 1s ease-in-out;
}
.card.animate {
  opacity: 1;
  transform: translateY(0%);
}

