.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  margin-top: 10px;
  
  }
  .card-registration .select-arrow {
  top: 33px;
  }

  .h-100{
    background:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) ;
    
  }

  .col-xl-12{
    background-color: antiquewhite;
    height: 1000px;
  }

  .form-control{
    box-shadow: 2px 2px 2px 2px grey;
  }

  .form-control:hover{
    box-shadow: 2px 2px 2px 2px rgb(88, 47, 47);
  }




