@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@{
    ViewData["Title"] = "SelectingVehicle";
}
@model IEnumerable<Office_Seat_Book_Entity.Parking>
@if(1==1){
    int i = 0;
    foreach(var p in Model)
    {
        i=i+1;
    }

<body>
 
<form method="post">
        
        <div class="container-fluid">
            
                

                    <div class="row">
                    @if (1 == 1)
                    {

                         int j = i;

                        @foreach (var parking in Model)
                        {
                      

                            @if (parking.Parking_Number == 1)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">1</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="1" class="col-md-2 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">1</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {
                           

                            @if (parking.Parking_Number == 2)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">2</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="2" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">2</button>
                                }
                            }
                        }
                          j = i;
                        @foreach (var parking in Model)
                        {
                          

                            @if (parking.Parking_Number == 3)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">3</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="3" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">3</button>
                                }
                            }
                        }
                         j = i;
                        @foreach (var parking in Model)
                        {
                            

                            @if (parking.Parking_Number == 4)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">4</label>

                                break;
                            }
                            else
                            {
                                j = j - 1;
                                if (j == 0)
                                {
                                    <button asp-route-id="4" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">4</button>
                                }
                            }
                        }
                         j = i;
                        @foreach (var parking in Model)
                        {
                           

                            @if (parking.Parking_Number == 5)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">5</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="5" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">5</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {
                            

                            @if (parking.Parking_Number == 6)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">6</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="6" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">6</button>
                                }
                            }
                        }
                          j = i;
                        @foreach (var parking in Model)
                        {
                           

                            @if (parking.Parking_Number == 7)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">7</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="7" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">7</button>
                                }
                            }
                        }
                          j = i;
                        @foreach (var parking in Model)
                        {
                          

                            @if (parking.Parking_Number == 8)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">8</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="8" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">8</button>
                                }
                            }
                        }
                           j = i;
                        @foreach (var parking in Model)
                        {
                         

                            @if (parking.Parking_Number == 9)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">9</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="9" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">9</button>
                                }
                            }
                        }
                         j = i;
                        @foreach (var parking in Model)
                        {
                           
                            @if (parking.Parking_Number == 10)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">10</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="10" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">10</button>
                                }
                            }
                        }
                       
                    }

                        </div>

                    <div class="row two">
                    @if (1 == 1)
                    {  int j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 12)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">12</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="12"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">12</button>
                                }
                            }
                            }
                         j = i;
                        @foreach (var parking in Model)
                        {

                            @if (parking.Parking_Number == 13)
                            {
                                <label style="background-color:red; padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">13</label>
                            }
                            else
                            {
                                j = j - 1;
                                if (j == 0)
                                {
                                    <button class="col-md-2 parking-spot" asp-route-id="13"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">13</button>
                                }
                            }
                        }
                         j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 14)
                            {
                                <label style="background-color:red; padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">14</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="14"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">14</button>
                                }
                            }
                            }
                             j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 15)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">15</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="15"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">15</button>
                                }
                            }
                            }
                             j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 16)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">16</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="16"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">16</button>
                                }
                            }
                            }
                             j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 17)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">17</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="17"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">17</button>
                                }
                            }
                            }
                        j = i;
                        @foreach (var parking in Model)
                        {

                            @if (parking.Parking_Number == 18)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">18</label>
                            }
                            else
                            {
                                j = j - 1;
                                if (j == 0)
                                {
                                    <button class="col-md-2 parking-spot" asp-route-id="18"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">18</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 19)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">19</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="19"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">19</button>
                                }
                            }
                            }
                             j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 20)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">20</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="20"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">20</button>
                                }
                            }
                            }
                        j = i;
                        @foreach (var parking in Model)
                        {

                            @if (parking.Parking_Number == 21)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">21</label>
                            }
                            else
                            {
                                j = j - 1;
                                if (j == 0)
                                {
                                    <button class="col-md-2 parking-spot" asp-route-id="21"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">21</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 22)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">22</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="22"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">22</button>
                                }
                            }
                            }
                            j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 23)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">23</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="23"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">23</button>
                                }
                            }
                            }
                            j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 24)
                            {
                                <label style="background-color:red; padding:5px;height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">24</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="24"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">24</button>
                                }
                            }
                            }
                            j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 25)
                            {
                                <label style="background-color:red;padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">25</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="25"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">25</button>
                                }
                            }
                            }
                            j = i;
                        @foreach (var parking in Model)
                        {
                       
                          @if (parking.Parking_Number == 26)
                            {
                                <label style="background-color:red; padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">26</label>
                            }
                            else{
                                j=j-1;
                                if (j == 0){
                                <button class="col-md-2 parking-spot" asp-route-id="26"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">26</button>
                                }
                            }
                            }
                       @* j = i;
                        @foreach (var parking in Model)
                        {

                            @if (parking.Parking_Number == 27)
                            {
                                <label style="background-color:red; padding:5px; height:80px;width:120px;margin-left:25px;margin-top:5px" ;><img src="https://www.svgrepo.com/show/484354/car-private-car.svg" style="margin-top:20px;margin-left:10px">27</label>
                            }
                            else
                            {
                                j = j - 1;
                                if (j == 0)
                                {
                                    <button class="col-md-2 parking-spot" asp-route-id="27"><img src="https://www.svgrepo.com/show/484354/car-private-car.svg">27</button>
                                }
                            }
                        }*@
                        }
                    </div>

                    <div class="row three">
                    @if (1 == 1)
                    {

                        int j = i;

                       @* @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 27)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">27</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="27" class="col-md-3 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">27</button>
                                }
                            }
                        }*@
                        j = i;
                        @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 28)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">28</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="28" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">28</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 29)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">29</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="29" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">29</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 30)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">30</label>

                                break;
                            }
                            else
                            {
                                j = j - 1;
                                if (j == 0)
                                {
                                    <button asp-route-id="30" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">30</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 31)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">31</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="31" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">31</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 32)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">32</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="32" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">32</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 33)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">33</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="33" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">33</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 34)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">34</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="34" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">34</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {


                            @if (parking.Parking_Number == 35)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">35</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="35" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">35</button>
                                }
                            }
                        }
                        j = i;
                        @foreach (var parking in Model)
                        {

                            @if (parking.Parking_Number == 36)
                            {
                                <label style="background-color:red; height:80px;width:80px;margin-top:30px;margin-left:20px;margin-bottom:40px"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg" style="margin-top:10px">36</label>

                                break;
                            }
                            else
                            {
                                j--;
                                if (j == 0)
                                {
                                    <button asp-route-id="36" class="col-md-1 parking-spot"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">36</button>
                                }
                            }
                        }

                    }

                     @*   <button class="col-md-3 parking-spot" asp-route-id="28"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">28</button>
                    <button class="col-md-3 parking-spot" asp-route-id="29"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">29</button>
                    <button class="col-md-3 parking-spot" asp-route-id="30"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">30</button>
                    <button class="col-md-3 parking-spot" asp-route-id="31"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">31</button>
                    <button class="col-md-3 parking-spot" asp-route-id="32"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">32</button>
                    <button class="col-md-3 parking-spot" asp-route-id="33"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">33</button>
                    <button class="col-md-3 parking-spot" asp-route-id="34"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">34</button>
                    <button class="col-md-3 parking-spot" asp-route-id="35"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">35</button>
                    <button class="col-md-3 parking-spot" asp-route-id="36"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">36</button>
                    <button class="col-md-3 parking-spot" asp-route-id="37"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">37</button>
                    <button class="col-md-3 parking-spot" asp-route-id="38"><img src="https://www.svgrepo.com/show/138099/motorcycle.svg">38</button>*@
  

            </div>
            }
            }
        </div>
        
     
        <script>
                    $(document).ready(function(){
              $(".parking-spot").click(function(){
                // remove "selected" class from all other parking spots
                $(".parking-spot").not(this).removeClass("selected");
                // toggle "selected" class on the clicked parking spot
                $(this).addClass("selected");
              });
            });


        </script>
        
</form>
</body>
}
<style>
    <style >
    body {
        background: radial-gradient( #33ccff 0%, #ff99cc 100%);
    }

    .parking-spot {
        background-color: #2b877d;
        padding: 10px;
        margin: 5px;
        text-align: center;
        width: 100px
    }

    .container-fluid {
        border: 1px solid black;
        width: 90%;
        margin-top: 50px;
        margin: 100px auto;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: azure;
    }

    .two {
        margin-top: 30px;
    }

    .col-md-1 {
        width: 80px;
        height: 80px;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .col-md-4 {
        width: 80px;
        height: 80px;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 40px;
        background-color: red;
    }

    .col-md-2 {
        width: 120px;
        height: 80px;
        background-color: green;
        /* margin-top: 50px;? */
        /* margin-bottom: 40px; */
        margin-left: 20px;
    }

    .col-md-5 {
        width: 120px;
        height: 80px;
        background-color: red;
        /* margin-top: 50px;? */
        /* margin-bottom: 40px; */
        margin-left: 20px;
    }

    .col-md-1 {
        background-color: green;
    }

    .col-md-3 {
        background-color: green;
        margin-bottom: 20px;
        margin-top: 60px;
        width: 80px;
        height: 80px;
        margin-left: 20px;
    }

    .selected {
        background-color: green;
    }

    img {
        width: 50px;
        height: 50px;
    }

    h2 {
        text-align: center;
        color: blue;
    }
</style>

