@model Office_Seat_Book_Entity.Employee
@*//this name should be the name of projects under dependencies after adding referrences in MvcUi*@
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="forgot pass.css">

    <title>FORGOT PASSWORD</title>
</head>
<style>

    .col-md-8 {
        padding-top: 50px;
        background-color: rgb(255, 255, 255);
        border-bottom-right-radius: 5%;
        border-top-right-radius: 5%;
        width: 400px;
        height: 350px;
        margin-left: -10px;
    }

    .col-md-9 {
        width: 375px;
    }

    img {
        border-bottom-left-radius: 5%;
        border-top-left-radius: 5%;
    }


    .form-outline {
        margin: 20px;
    }

    h3 {
        text-align: center;
        color: rgb(73, 73, 73);
        font-weight: bold;
        margin-top: -30px;
    }

    .form-control {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

        .form-control:hover {
            background-color: transparent;
        }

    .btn {
        transition: all 0.3s ease-in-out;
        background-color: rgb(214, 43, 226);
        color: white;
    }

        .btn:hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
            background-color: rgb(214, 43, 226);
        }

    .btn-primary:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
    }


    /* body{
          background-image: linear-gradient(310deg,hsl(270, 67%, 47%, 0.7),hsl(330, 100%, 50%,0.7));
        } */

    media (max-width: 550px) {
        .h-custom

    {
        height: 100%;
        width: 100%;
    }

    }
</style>

<body>

    <section class="vh-100">
        <div class="container-fluid h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <img src="~/lib/forgot.svg" class="img-fluid"
                         style="height: 500px; width: 700px;" alt="Login">
                </div>

                <div class="col-md-8 col-lg-6 col-xl-4">
                    <h3>Forgot Password?</h3>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="form-outline">

                                <input type="text" asp-for="EmpID" class="form-control form-control-lg" placeholder="Enter Employee Id" required />
                            </div>
                            <div class="form-outline">

                                <input type="text" asp-for="Security_Question" class="form-control form-control-lg" placeholder="Enter your fav food" required />

                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2 mx-5">
                                <button type="submit" class="btn btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    SUBMIT
                                </button>

                                @*submit sends form to server thats why we use submit not button type  *@
                                @*   by default get request is called so we have mention post in the initial stage of form which will call httppost in Employeecontroller *@
                                @if (ViewBag.status == "Ok")
                                {
                                    <div class="alert alert-success">
                                        @ViewBag.message
                                    </div>
                                }
                                else if (ViewBag.status == "Error")
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.message
                                    </div>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </div>
    </section>
</body>

</html>