@*
<head>
    <link href="c:\poc\officeseatbooking_3.1\office_seat_book\office_seat_book_mvc\wwwroot\css\success.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper"> 
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> 
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> 
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
    </svg>
    </div>
    <script>
        // Set a timeout function to redirect the user to another page
        setTimeout(function() {
          window.location.href = "https://localhost:5001";
        }, 3000); // 3000ms (3 seconds)
      </script>
</body>*@

<body>
    <div class="container">
        <img src="https://media.tenor.com/0AVbKGY_MxMAAAAC/check-mark-verified.gif" alt="">
    </div>
</body>
<style>
    .container {
        margin: auto auto;
        display: flex;
        justify-content: center;
    }
</style>
<script>
    setTimeout(function () {
        window.location.href = "https://localhost:5001";
    }, 2000);
</script>