
@model Office_Seat_Book_Entity.Booking

@*@{

    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}*@
@if(Model==null)
{
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
}
else
{
    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Booking Details</title>
    <link href="~/css/bookingviewpass.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <img class="img-fluid"
                     src="https://img.freepik.com/free-vector/appointment-booking_23-2148570756.jpg?size=626&ext=jpg&ga=GA1.2.1040341196.1679931539&semt=ais"
                     alt="img">
            </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Pass</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable px-4">
                                <div class="contai">
                                    <div class="row">
                                        <div class="card main mx-auto ">
                                            <div class="row">
                                                <div class=" text-center ">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-black"><u>Details of the employee</u> </h5>
                                                        <p class="card-text">Name :</p>
                                                        <p class="card-text">Emp ID :</p>
                                                        <p class="card-text">Role:</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class=" text-center my-4">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-black"><u>Booking Details</u></h5>
                                                        <p class="card-text">From Date :</p>
                                                        <p class="card-text">To Date :</p>
                                                        <p class="card-text">Shift Time :</p>
                                                        <p class="card-text">Seat Number :</p>
                                                        <p class="card-text">Booking ID :</p>
                                                        <p class="card-text">Food :</p>
                                                        <p class="card-text">Parking :</p>
                                                        @*<button class="btn btn-success">View OTP</button> &nbsp;
                                                        <button class="btn btn-success">View OTP</button>*@
                                                    </div>
                                                </div>
                                            </div>
@*
                                            <div class="card-body text-center">
                                                <h3>You don't have any bookings</h3>
                                                <button class="btn btn-success">Book Seat</button>
                                            </div>*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-success">View OTP</button> &nbsp;
                            <button type="button" class="btn btn-success">View Pass</button>
                            </div>
                        </div>
                    </div>
                </div>
</body>
</html>
}