.col-md-9 {
    width: 375px;
}

img {
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}

.col-md-8 {
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    width: 400px;
    height: 350px;
    margin-left: -10px;
}

.form-outline {
    margin: 20px;
}

h3 {
    text-align: center;
    color: rgb(73, 73, 73);
    font-weight: bold;
    margin-top: -30px;
}

.form-control {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

    .form-control:hover {
        background-color: transparent;
    }

.btn {
    transition: all 0.3s ease-in-out;
    background-color: rgb(214, 43, 226);
    color: white;
}

    .btn:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
        background-color: rgb(214, 43, 226);
    }

.btn-primary:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}


/* body{
  background-image: linear-gradient(310deg,hsl(270, 67%, 47%, 0.7),hsl(330, 100%, 50%,0.7));
} */

@media (max-width: 550px) {
    .h-custom

{
    height: 100%;
    width: 100%;
}
}
