/*css3 styling for showsecretkey page*/

.secret-key {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 5rem;
  text-transform: uppercase;
  flex-direction: column;
  
}
/*css styling for the background image*/
.img{
    position: absolute;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  .mask {
    position:absolute;
    background-size: cover;
    top: 0;
    width: 100%;
    height: 70%;
}
.bg-gradient-primary {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    height:70%;
    width: 100%;
    opacity: 1;
}

/*css styling for the key part which displays on the screen as soon as the EmpId is verified*/
.key {
  display: inline-block;
  border: 5px solid black;
  padding: 1rem 2rem;
  border-radius: 15px;
  color: black;
  background-color: white;
  animation: pulse 2s infinite;
  font-family: "Poppins", sans-serif;
}

h1{
    font-family: "Poppins", sans-serif;
    color:white;
    position: relative;
    text-align: center;
    
    }

/*animations*/
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    background-color:lightpink;
  }
  50% {
    background-color:lightblue;
  }
  100% {
    background-color: lightcoral;
  }
}
