/* CSS file of QE Code Display page */
body {
    background-image: linear-gradient(250deg,#7928ca,#ff0080);
    font-family: Arial, sans-serif;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid black;
    max-width: 300px;
    height: 300px;
    margin: auto;
    background-color: #fff;
    margin-top: 100px;
}

/*styling for the image*/
#qr-code-img {
    max-width: 80%;
    max-height: 80%;
    border: 5px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/*styling for the heading tag*/
h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
}

img {
    width: 300px;
    height: 300px;
    
}

.tag {
    margin: auto;
    text-align: center;
}

    .tag h4 {
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

/* css animation*/
@keyframes blink {
    0%{
    opacity: 1;
}

50% {
    opacity: 0;
}

100% {
    opacity: 1;
}

}