body {
    background-image: url("https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved1.jpg");
    background-position: center;
    background-size: cover;
}

.img {
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: .6;
}

.navbar {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(234, 210, 239, 0.9);
    color: rgb(20, 20, 21);
    opacity: 1;
}

.navbar-brand {
    font-weight: bold;
}

.nav {
    justify-content: space-between;
}

.bell {
    margin: auto;
    cursor: pointer;
}

.logout {
    margin: auto;
    cursor: pointer;
}

.viewpass {
    margin: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* .sidebar{
position: fixed;
width: 220px;
left: -220px;
height: 100%;
background: #1e1e1e;
transition: all .5s ease;
}
.sidebar header{
font-size: 20px;
color: white;
line-height: 42px;
text-align: center;
background: #1b1b1b;
user-select: none;
font-family: 'Montserrat', sans-serif;
}
.sidebar a{
display: block;
height: 45px;
line-height: 45px;
width: 100%;
color: white;
padding-left: 30px;
box-sizing: border-box;
border-bottom: 1px solid black;
border-top: 1px solid rgba(255,255,255,.1);
border-left: 5px solid transparent;
font-family: 'Open Sans', sans-serif;
transition: all .5s ease;
text-decoration: none;
}
.sidebar a.active,a:hover{
border-left: 5px solid #b93632;
color: #b93632;
}
.sidebar a i{
font-size: 16px;
margin-right: 16px;
}
.sidebar a span{
letter-spacing: 1px;
}
#check{
display: none;
}
label #btn,label #cancel{
position: absolute;
cursor: pointer;
color: rgb(2, 2, 2);
margin: 8px 150px;
font-size: 20px;
/* background:linear-gradient(90deg, rgba(1,36,106,1) 2%, rgba(87,9,121,1) 43%, rgba(190,0,163,1) 94%); 
height: 40px;
width: 45px;
line-height: 45px;
transition: all .5s ease;
}
label #cancel{
opacity: 0;
visibility: hidden;
}
label:hover #cancel{
opacity: 0;
visibility: hidden;
color: rgb(156, 2, 2);
}
#check:checked ~ .sidebar{
left: 0;
}
#check:checked ~ label #btn{
margin-left: 245px;
opacity: 0;
visibility: hidden;
}
#check:checked ~ label #cancel{
margin-left: 245px;
opacity: 1;
visibility: visible;
}
@media(max-width : 860px){
.sidebar{
  height: auto;
  width: 70px;
  left: 0;
  margin: 100px 0;
}
header,#btn,#cancel{
  display: none;
}
span{
  position: absolute;
  margin-left: 23px;
  opacity: 0;
  visibility: hidden;
}
.sidebar a{
  height: 60px;
}
.sidebar a i{
  margin-left: -10px;
}
a:hover {
  width: 200px;
  background: inherit;
}
.sidebar a:hover span{
  opacity: 1;
  visibility: visible;
}
} */
.mask {
    position: absolute;
    background-size: cover;
    background-position: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.bg-gradient-primary {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    height: 70%;
    width: 100%;
    opacity: 0.5;
}

.text-center {
    text-align: center !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.text-white {
    color: #fbf9f9 !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.mt-n5 {
    margin-top: -3rem !important;
}

.lead {
    font-size: 1.25rem;
}

.lead {
    line-height: 1.625;
}

.lead, .p, p {
    font-weight: 400;
}
/* .text-white {
  color: #fff!important;
} */

.card-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-3 {
    margin-top: 1rem !important;
}

.greet {
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    color: #1b1b1b;
}

.greet, .head {
    font-size: 50px;
    font-weight: bold;
}

.greet, .name {
    font-size: 30px;
}
/* .middle-row{

  justify-content: center;
  /* margin-top: 100%; 
  margin: 0 auto;
} */
.middle-row {
    background: rgba(234, 210, 239, 0.9);
    width: 400px !important;
    margin: 10px;
    border-radius: 10px;
}

.numb {
    font-size: 100px;
    color: #ce381e;
}

.char {
    font-size: 30px;
}

.buttons {
    position: relative;
    justify-content: center;
    height: 180px;
    display: flex;
    margin-top: 80px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 80px;
    width: 250px;
    margin: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    font-size: 20px;
    background-color: #a53860;
}

    .button:hover {
        background-color: #da627d;
    }

/* For anchor tag in sidebar */


.anchor a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #100e0e;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.6);
    font-size: 1.25em;
}

    .anchor a:hover,
    .anchor a:focus {
        outline: none;
    }

.cl-effect-4 a {
    padding: 0 0 10px;
}

    .cl-effect-4 a::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    .cl-effect-4 a:hover::after,
    .cl-effect-4 a:focus::after {
        height: 5px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }

.color-7 {
    border-radius: 25px;
    background: #f2d082;
    font-size: 10px;
}

.dropdown-content {
    font-style: italic;
}



/* For normal mobile devices */
@media screen and (max-width:405px) {

    .middle-row {
        width: 280px !important;
    }
}
/* For fold devices */
@media screen and (max-width:283px) {

    .middle-row {
        width: 220px !important;
    }
}
