body {
    background-image: url("https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .6;
}

.navbar {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: rgb(20, 20, 21);
    opacity: 1;
    background-color: rgba(234, 210, 239, 0.9);
}

.navbar-brand {
    font-weight: bold;
}

.nav {
    justify-content: space-between;
}

.bell {
    margin: auto;
    cursor: pointer;
}

.logout {
    margin: auto;
    cursor: pointer;
}

.viewpass {
    margin: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container1 {
    width: 100%;
    max-width: 600px;
    background: rgba(161, 5, 228, 0.702);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px rgb(156, 90, 176);
}

.mask {
    position: absolute;
    background-size: cover;
    background-position: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.bg-gradient-primary {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    height: 70%;
    width: 100%;
    opacity: 0.5;
}

.card-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    padding: 5px;
}

.buttons {
    position: relative;
    justify-content: center;
    height: 180px;
    display: flex;
    margin-top: 80px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 80px;
    width: 250px;
    margin-top: -50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    font-size: 20px;
    background-color: #389aa5;
}

    .button:hover {
        background-color: #62dab8;
        color: black;
    }
/* For anchor tag in sidebar */
.anchor a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.6);
    font-size: 1.25em;
}

    .anchor a:hover,
    .anchor a:focus {
        outline: none;
    }

.cl-effect-4 a {
    padding: 0 0 10px;
}

    .cl-effect-4 a::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    .cl-effect-4 a:hover::after,
    .cl-effect-4 a:focus::after {
        height: 5px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }

.color-7 {
    border-radius: 25px;
    background: #3fa46a;
}

/* For normal mobile devices */
@media screen and (max-width:405px) {
    .middle-row {
        width: 280px !important;
    }
}
/* For fold devices */
@media screen and (max-width:283px) {
    .middle-row {
        width: 220px !important;
    }
}
