.form-gap {
    padding-top: 70px;
}

body{
   
    background:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)
  }

  h1{
    font-style: italic;
    text-align: center;
    color: green;
  }
  
.card-body{
    box-shadow: 2px 2px 2px 2px black;
}

.form-control{
    text-align: center;
    box-shadow: 0 0 2px 2px lightskyblue;
}

.form-label input{
    text-align: center;
}

.btn{
   
    align-items: center;
   
    
}





