
@{
    ViewData["Title"] = "Index of Receptionist";
}

<h1>Index of Receptionist</h1>

<a asp-controller="Receptionist" asp-action="Scan" type="button">Scan</a>
<br />
<a asp-controller="Receptionist" asp-action="GenerateOTP" type="button">Generate OTP</a>
<br />
<a asp-controller="Receptionist" asp-action="ShowSecretKey" type="button">Provide Secret Key</a>