@model Office_Seat_Book_Entity.SecretKey;
@{
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}
<head>
    <link href="~/css/ver emp id (1).css" rel="stylesheet" />
</head>

<body>
    <div class="mask bg-gradient-primary">
        <img class="img" src="https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved1.jpg"
             alt="img">
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center
          min-vh-100">
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="mb-4">
                                <h1>Verification</h1>

                            </div>
                            @* The form uses the POST method and has an action to the "ShowSecretKey" method in the "Receptionist" controller.*@
                            <form method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="text" class="form-label"></label>
                                    <input type ="text" asp-controller="Receptionist" asp-action="ShowSecretKey" asp-for="EmpID" class="form-control" placeholder="Enter Emp Number" required />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="submit" class="btn btn-primary" style="margin-top:10px;margin-left:120px;" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>