@model Office_Seat_Book_Entity.SecretKey;
@{
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/showsecretkeybyempid.css" rel="stylesheet" />
</head>
<body>
    <div class="mask bg-gradient-primary">

        <img class="img" src="https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved1.jpg" alt="img">

    </div>
    <div class="secret-key">
        <h1> Your Secret-Key Code</h1>

        <span class="key">@Model.SpecialKey</span>
    </div>
</body>
</html>