@model Office_Seat_Book_Entity.Seat
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<body>

    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</body>
