@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Office_Seat_Book_Entity.Employee

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4" style="background-color:lavender; box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .1)">
        <div class=" image d-flex flex-column justify-content-center align-items-center">

            <form method="post" enctype="multipart/form-data">
                
        <div class="col-4 d-inline-block align-top" style=" margin-right:50px;margin-left:270px">
            <div class="form-group">
                <label style="color:#003399;font-size:20px">phone number</label>
                <input  type="text" asp-for="PhoneNo" class="form-control" placeholder="Enter Emp number" required />
            </div>
                    <input type="submit" value="Update" class="btn btn-outline-success" />
                   
                </div>
            </form>
            @if (ViewBag.status == "Ok")
            {
                <br />



                <br />
                <div class="alert alert-success">
                    @ViewBag.message
                </div>
            }
            else if (ViewBag.status == "Error")
            {
                <br />



                <br />
                <div class="alert alert-danger">
                    @ViewBag.message
                </div>
            }
        </div>
    </div>
</div>
