@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@model Office_Seat_Book_Entity.Employee*@

<body>
    <div class="mask bg-gradient-primary">
        <img class="img"
             src="https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved1.jpg"
             alt="img">
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg blur blur-rounded shadow my-4">
            <div class="container-fluid">

                <svg data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                     aria-controls="offcanvasWithBothOptions" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     class="bi" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                    </path>
                </svg>
                <div class=" col-lg-1 mx-auto order-0">

                    <a class="navbar-brand mx-md-5" style="color: rgb(0, 0, 0);">
                        BOOK.it
                    </a>
                </div>

                <div class="nav col-lg-2">


                    <div class="bell" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">

                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                        </svg>@{
                            @TempData["TotalCount"];
                            TempData.Keep();
                        }
                    </div>&nbsp;
                    <div class="logout">
                        <a asp-controller="Home" asp-action="Index" type="button" onclick="LogoutFunction()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">

                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
             aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title text-center" id="offcanvasWithBothOptionsLabel">Menu</h3>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <a asp-area="" asp-controller="Admin" asp-action="Index">HOME</a>
                    </div>
                </section>
                <br>
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <a asp-area="" asp-controller="Employee" asp-action="Profile">PROFILE</a>
                    </div>
                </section>
                <br>
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <a asp-controller="Admin" asp-action="RegisterEMP">Register Employee</a>
                        <a asp-area="" asp-controller="Admin" asp-action="ViewEmp">Employee details</a>
                    </div>
                </section>
                <br>
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <div>
                            <a href="#"> SEAT MANGAEMENT &#9662;</a>
                            <div>

                                <a asp-controller="Admin" asp-action="Addseat" type="button ">  ADD SEAT </a>
                                <a asp-controller="Admin" asp-action="GetallSeat" type="button"> VIEW SEATS DETAILS </a>

                            </div>
                        </div>
                    </div>
                </section>
                <BR />
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <div>
                            <a href="#"> FLOOR MANAGEMENT &#9662;</a>
                            <div>

                                <a asp-controller="Admin" asp-action="Addfloor" type="button ">ADD FLOOR</a>
                                <a asp-controller="Admin" asp-action="Getallfloor" type="button">VIEW FLOOR DETAILS</a>
                            </div>
                        </div>
                    </div>
                </section>
                <br>
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <div>
                            <a href="#"> REPORTS &#9662;</a>
                            <div>

                                <a asp-controller="Report" asp-action="Index" type="button "> REPORT BY DAY </a>
                                <a asp-controller="Report" asp-action="GetCustomDates" type="button"> REPORT BY CUSTOM DATES </a>

                            </div>
                        </div>
                    </div>
                </section>
                @* <br />
                <section class="color-7">
                <div class="anchor cl-effect-4">
                <div>
                <a href="#"> PARKING&#9662;</a>
                <div>
                <a asp-area="" asp-controller="Admin" asp-action="AddParking">ADD PARKING SLOTS</a>
                <a asp-area="" asp-controller="Admin" asp-action="ViewParking">VIEW PARKING SLOTS</a>

                </div>
                </div>
                </div>
                </section>*@
                <br>
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <a asp-area="" asp-controller="Help" asp-action="GetAllHelps">Help</a>
                    </div>
                </section>
                <br />
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <a asp-controller="Admin" asp-action="settings">settings</a>
                    </div>
                </section>
                <br/>
                <section class="color-7">
                    <div class="anchor cl-effect-4">
                        <a asp-controller="Home" asp-action="Index" type="button">Logout</a>
                    </div>
                </section>
            </div>
        </div>


        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Notifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                @if (Convert.ToInt32(TempData["helpcount1"]) != 0 || Convert.ToInt32(TempData["regcount1"]) != 0)
                {
                    if (Convert.ToInt32(TempData["regcount1"]) != 0)
                    {
                        <button><a asp-controller="Admin" asp-action="ViewEmp">get employee details</a></button>
                    }
                    if (Convert.ToInt32(TempData["helpcount1"]) != 0)
                    {
                        <button><a asp-controller="Help" asp-action="GetAllHelps">get help details</a></button>
                    }
                    @for (int i = 0; i < Convert.ToInt32(TempData["regcount1"]); i++)
                    {
                        if (Convert.ToInt32(TempData["regcount1"]) != 0)
                        {
                            <div class="alert alert-primary">
                                @TempData["register"];
                            </div>
                        }
                    }
                    @for (int i = 0; i < Convert.ToInt32(TempData["helpcount1"]); i++)
                    {
                        if (Convert.ToInt32(TempData["helpcount1"]) != 0)
                        {
                            <div class="alert alert-info">
                                @TempData["help"];
                            </div>
                        }
                    }
                }

                else
                {
                    <h6>No notification</h6>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class=" greet text-center">
                <p class=" head text-white  ">Hello..!</p>
                <p class=" name text-white mt-3">ADMIN</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row row1 card-div ">
        <div class="col-12 col-md-4 col-lg-4 col-xxl-4 middle-row shadow ">
            <span class="numb">
                0
            </span>
            <span class="char">
                Approved
            </span>

        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xxl-4 middle-row shadow ">
            <span class="numb">
                0
            </span>
            <span class="char">
                Pending
            </span>
        </div>
        <div class=" col-12 col-md-4 col-lg-4 col-xxl-4 middle-row shadow ">
            <span class="numb">
                0
            </span>
            <span class="char">
                Rejected
            </span>
        </div>

    </div>
    <br>
    <br>
    <div class="row card-div">
        <div class="col-12 col-md-6 col-xl-6 col-xxl-6">
            <div class="buttons">
                <button class="button btn-lg">
                    <a asp-area="" asp-controller="Employee" asp-action="Booking_history" style="color:white;text-decoration:none"> View All Bookings</a>
                </button>

            </div>
        </div>
    </div>
</body>
<script>
    function LogoutFunction() {



        let val = confirm("Do you want to logout?");
        if (val == false) {
            return event.preventDefault();
        }
    }
</script>