@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model Office_Seat_Book_Entity.Employee

@{
    ViewData["Title"] = "RegisterEmp";
}
<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-2">
                    <div class="row g-0">
                        
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="~/lib/img1.png" 
                            alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius:.5rem; height: 801px;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-4 text-uppercase">User registration Form</h3>
                                 <form method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                                <input type="text" asp-for="Name" id="form" placeholder="Enter Name" class="form-control form-control-lg" />
                                            <label class="form-label" for="form"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" asp-for="PhoneNo" id="form" placeholder="Enter Phone number" class="form-control form-control-lg" />
                                            <label class="form-label" for="form"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                                <input type="text" asp-for="Email" id="form" placeholder="Enter Email" class="form-control form-control-lg" />
                                            <label class="form-label" for="form"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                                <input type="text" asp-for="Place" id="form" placeholder="Enter Place" class="form-control form-control-lg" />
                                            <label class="form-label" for="form"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                        <input type="text" asp-for="Password" id="form" placeholder="Enter Password" class="form-control form-control-lg" />
                                    <label class="form-label" for="form"></label>
                                </div>

                                

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                                <select class="form-control" asp-for="Role">
                                                    <option >ADMIN</option>
                                                    <option >USER</option>
                                                    <option>RECEPTIONIST</option>
                                                </select>
                                    </div>
                                    <div class="col-md-6 mb-4">

                                            <select class="select" asp-for="Gender">
                                            <option value="1">M</option>
                                            <option value="2">F</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                        <input type="text" asp-for="Designation" id="form" placeholder="Enter Designation" class="form-control form-control-lg" />
                                    <label class="form-label" for="form"></label>
                                </div>

                                <div class="form-outline mb-4">
                                        <input type="text" asp-for="Secret_Key" id="form3Example90" placeholder="Enter SecretKey" class="form-control form-control-lg" />
                                    <label class="form-label" for="form"></label>
                                </div>


                                <div class="d-flex justify-content-end pt-2">
                                        <input type="submit"value="submit" class="btn btn-warning btn-lg ms-2"/>
                                        <input type="reset" value="Reset" class="btn btn-outline-secondary" />
                                    <a class="btn btn-warning btn-lg ms-2" asp-area="" asp-controller="Admin" asp-action="Index">Back</a>

                                </div>
                                    @if (ViewBag.status == "Ok")
                                    {
                                        <br />



                                        <br />
                                        <div class="alert alert-success">
                                            @ViewBag.message
                                        </div>
                                    }
                                    else if (ViewBag.status == "Error")
                                    {
                                        <br />



                                        <br />
                                        <div class="alert alert-danger">
                                            @ViewBag.message
                                        </div>
                                    }

                                </form>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>