@model Office_Seat_Book_Entity.Employee
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mask bg-gradient-primary">

    <img class="img"
         src="https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved1.jpg"
         alt="img">
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4" style="background-color:lavender; box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .1)">
            <div class=" image d-flex flex-column justify-content-center align-items-center">
        <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
            <span style="color:cadetblue">email:</span>
            <span style="color:black">@Model.Email</span>
        </div>
        <br/>
    <button><a asp-controller="Admin" asp-action="OldPassword" type="button">change password</a></button>
    <br/>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                    <span style="color:cadetblue">Account Info:</span><a asp-controller="Admin" asp-action="ShowAdminProfile" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a>
                </div>
                <br/>@*
    <button><a asp-controller="Admin" asp-action="OldPassword" type="button">change password</a></button>*@
    </div>
    </div>
          </div>
</div>

    @*</button>*@