@model Office_Seat_Book_Entity.Help
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <style>
        /* Style the form container */
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 50%;
            margin: auto;
        }

        /* Style the input fields */
        input[type=text], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        /* Style the label */
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
            font-weight: bold;
        }

        /* Style the submit button */
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            /* Style the submit button on hover */
            input[type=submit]:hover {
                background-color: #45a049;
            }

        /* Style the container for the cancel button */
        /*.cancel-container {
            width: 100%;
            margin-top: 12px;
        }*/

        /* Style the cancel button */
        .cancel {
            background-color: #f44336;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            /* Style the cancel button on hover */
            .cancel:hover {
                background-color: #d32f2f;
            }
    </style>
</head>
<body>
    <h2>How can we help You?</h2>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <label for="email">Email</label>
            <input type="text" placeholder="Your email" required>

            <label for="name">Type Of Query</label>
            <input type="text"  asp-for="TypeOfQuery" placeholder="Your Query Type" required>

            <label for="message">Message</label>
            <textarea asp-for="Description" placeholder="Write your message here" style="height:200px" required></textarea>
            
            <button type="reset" class="cancel">Cancel</button>
            <input type="submit" value="Submit"/>            
        </form>
    </div>
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</body>